
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <center>
        <h1>Jardín Botánico 💜 Azure</h1>
        <p class="lead">Encuesta Del Jardín Botánico Nacional .</p>
        <img src="~/img/LetraJ.jpg" style="width: 800px; height: 330px;" />
    </center>
</div>

<a href="Form/Encuesta" class="btn btn-primary">Ir a formulario de la encuesta</a>
<br />
<br />


